[submodule "CommonLibs"]
	path = CommonLibs
	url = https://github.com/BastilleResearch/CommonLibs.git
	branch = master
[submodule "NodeManager"]
	path = NodeManager
	url = https://github.com/BastilleResearch/NodeManager.git
	branch = master
